version: '3.4'

networks:
  frontend:
  backend:

services:
  catalog: 
    build:
      context: .\EventBriteAssignment
      dockerfile: Dockerfile
    image: eventbrite/catalogapi
    environment: 
      DatabaseServer: mssqlserver
      DatabaseName: eventCatalogDb
      DatabaseUser: sa
      DatabaseUserPassword: EventsApi(!)
      ExternalCatalogBaseUrl: http://localhost:5088
    ports:
      - "5088:80"
    container_name: catalogapi
    networks: 
      - backend
      - frontend
    depends_on:
      - mssqlserver


  cart:
    build:
      context: .\CartApi
      dockerfile: Dockerfile
    image: eventbrite/cartapi
    environment: 
      ASPNETCORE_ENVIRONMENT: Development
      IdentityUrl: http://192.168.1.159:5092
      ConnectionString: basket.data
    ports:
      - "5081:80"
    container_name: cartapi
    networks: 
      - backend
      - frontend
    depends_on:
      - mssqlserver
      - tokenservice

  order:
    build:
      context: .\OrderApi
      dockerfile: Dockerfile
    image: eventbrite/orderapi
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      IdentityUrl: http://10.10.10.30:5070
      SQLSERVER_HOST: catalogdb
      SA_PASSWORD: EventsApi(!)
      DATABASE: OrdersDb
    ports:
      - "5083:80"
    container_name: orderapi
    networks:
      - backend
      - frontend
    depends_on:
      - mssqlserver
      - tokenservice

  tokenservice:
    image: eventbrite/tokenserviceapi
    build:
      context: .\TokenServiceApi
      dockerfile: Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      MvcClient: http://localhost:5090
    ports:
      - "5092:80"
    container_name: tokenapi
    networks:
      - backend
      - frontend
    depends_on:
      - mssqlserver

  webmvc:
    build:
      context: .\WebMvc
      dockerfile: Dockerfile
    image: eventbrite/webmvc
    environment: 
      CatalogUrl: http://catalog
      IdentityUrl: http://192.168.1.159:5092
      CallbackUrl: http://localhost:5090
      CartUrl: http://cart
      OrderUrl: http://order
      StripePublicKey: pk_test_FNzRgGCnjmGNtuNS9mhtCYTP
      StripePrivateKey: sk_test_6Tgxc83nnHACphELPYKmuGln
      ASPNETCORE_ENVIRONMENT: Development
    ports:
      - "5090:80"
    container_name: webeventstore
    networks: 
      - frontend
    depends_on:
      - mssqlserver
      - tokenservice
      - catalog
      - cart
      - order


  mssqlserver:
    image: "microsoft/mssql-server-linux:latest"
    environment:
      ACCEPT_EULA: Y
      SA_PASSWORD: EventsApi(!)
    container_name: catalogdb
    ports: 
      - "1451:1433"
    networks:
      - backend
